##### python imports

In [1]:
import pandas as pd
from string import ascii_lowercase

### Lecture 1 - What is a Series?

In [2]:
students = ['Ivan', 'Peter', 'Maria']

In [3]:
type(students)

list

In [4]:
pd.Series(students)

0     Ivan
1    Peter
2    Maria
dtype: object

In [5]:
ages = [20, 18, 14]
pd.Series(ages)

0    20
1    18
2    14
dtype: int64

In [6]:
heights = [180.2, 178.5, 156.3]
pd.Series(heights)

0    180.2
1    178.5
2    156.3
dtype: float64

In [7]:
mixed_data = [True, 'Hello', {'key': 100}, 5, 6.7, [1, 2, 3]]
pd.Series(mixed_data)

0            True
1           Hello
2    {'key': 100}
3               5
4             6.7
5       [1, 2, 3]
dtype: object

### Lecture 2 - Parameters vs Arguments

In [8]:
pd.Series(data=students)

0     Ivan
1    Peter
2    Maria
dtype: object

In [9]:
# General programming terminology:
# data -> method or function definition (parameter)
# students -> python list which its passed as value (argument)
# example
def functon(parameter):
    print(parameter)
functon('argument')

argument

### Lecture 3 - What is The Data?

In [10]:
book_list = ['book_1', 'book_2', 'book_3']
pd.Series(book_list)

0    book_1
1    book_2
2    book_3
dtype: object

In [11]:
book_dict = {0:'book_1', 1: 'book_2', 2: 'book_3'}
pd.Series(book_dict)

0    book_1
1    book_2
2    book_3
dtype: object

In [12]:
list_s = pd.Series(book_list)
dict_s = pd.Series(book_dict)
list_s.equals(dict_s)

True

### Lecture 4 - The .dtype Attribute

In [13]:
pd.Series(ages)

0    20
1    18
2    14
dtype: int64

In [14]:
pd.Series(ages, dtype=float)

0    20.0
1    18.0
2    14.0
dtype: float64

In [15]:
pd.Series(ages, dtype=str)

0    20
1    18
2    14
dtype: object

### BONUS: What is dtype('o'), Really?

In [16]:
pd.Series(heights)

0    180.2
1    178.5
2    156.3
dtype: float64

In [17]:
# from NumPy -> if one of the value is object, pandas will keep the data with index in the memory
heights_2 = [180.2, '178.5', 156.3]
pd.Series(heights_2)

0    180.2
1    178.5
2    156.3
dtype: object

### Lecture 5 - Index and RangeIndex

In [18]:
pd.Series(data=book_list, index=['first_book', 'second_book', 'third_book'])

first_book     book_1
second_book    book_2
third_book     book_3
dtype: object

In [19]:
pd.__version__

'1.3.2'

In [20]:
# After version 1.0.0, pandas has string dtype
pd.Series(data=book_list, index=['first_book', 'second_book', 'third_book'], dtype='string')

first_book     book_1
second_book    book_2
third_book     book_3
dtype: string

In [21]:
list_s.index
# its a range index

RangeIndex(start=0, stop=3, step=1)

In [22]:
type(list_s.index)

pandas.core.indexes.range.RangeIndex

In [23]:
# lets create our own range of indexes
pd.RangeIndex(start=5, stop=15, step=3)
# must cast to list to see the result
list(pd.RangeIndex(start=5, stop=15, step=3))

[5, 8, 11, 14]

In [24]:
# start is inclusive, but stop is exclusive
list(pd.RangeIndex(start=10, stop=-11, step=-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

### Lecture 6 - Series and Index Names

In [25]:
#inetilligble -> capable of being understood
book_series = list_s
book_series

0    book_1
1    book_2
2    book_3
dtype: object

In [26]:
# method is a function bound to the object
list_s.equals(dict_s)

True

In [27]:
# attribute is a varible bound to the object
book_series.size

3

In [28]:
# the name attribute is pointing to None obj
book_series.name

In [29]:
# if it comapre to None ...
book_series.name == None

True

In [30]:
# we could give it a name
book_series.name = 'my books'
book_series
# after we learn about dataFrame, we will see that the name of the Series will come ...
# with the name of the column of the dataFrame

0    book_1
1    book_2
2    book_3
Name: my books, dtype: object

In [31]:
# the same is with the indexes of the Series
book_series.index.name == None

True

In [32]:
book_series.index.name = 'index names'
book_series

index names
0    book_1
1    book_2
2    book_3
Name: my books, dtype: object

### Lecture 7 - Skill Chalenge

In [33]:
# 1. Python list with len=4 with favorite actors
actor_names = ['Actor1', 'Actor2', 'Actor3', 'Actor4',]
# 2. Python list with len=4 with actors ages
actor_ages = [25, 35, 45, 55]
# 3. Series that stores actor ages and for index (labels) are useing actor names
actor_series = pd.Series(data=actor_ages, index=actor_names)
actor_series

Actor1    25
Actor2    35
Actor3    45
Actor4    55
dtype: int64

In [34]:
# 4. Repeat p.3 but with python dict. Try to not write the dict by hand, but dynamically
# 1st var -> using zip (the keys are indexes, and vals are values)
actor_dict_1 = dict(zip(actor_names, actor_ages))
actor_series_dict_1 = pd.Series(actor_dict_1)
actor_series_dict_1

Actor1    25
Actor2    35
Actor3    45
Actor4    55
dtype: int64

In [35]:
# 4.
# 2st var -> using dict comprehension
# actor_dict_2 = {actor_names[i]: actor_ages[i] for i in range(len(actor_names))}
actor_dict_2 = {name: age for name, age in zip(actor_names, actor_ages)}
actor_series_dict_2 = pd.Series(actor_dict_2)
actor_series_dict_2

Actor1    25
Actor2    35
Actor3    45
Actor4    55
dtype: int64

### Lecture 8 - The head() and tail() methods

In [36]:
int_series = pd.Series(i for i in range(10000))
int_series

0          0
1          1
2          2
3          3
4          4
        ...
9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
Length: 10000, dtype: int64

In [37]:
# it can be done only with range
int_series_2 = pd.Series(range(10000))
int_series_2

0          0
1          1
2          2
3          3
4          4
        ...
9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
Length: 10000, dtype: int64

In [38]:
# to see the first 5 rows
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [39]:
# if you want to see certian number of first rows
int_series.head(3)

0    0
1    1
2    2
dtype: int64

In [40]:
# to see the last five rows
int_series_2.tail()

9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
dtype: int64

In [41]:
# if you want to see the certian number of last rows
int_series_2.tail(3)

9997    9997
9998    9998
9999    9999
dtype: int64

In [42]:
# we can use options to desplay certian rows, but its not useful
# pd.options.display.min_rows = 20

### Lecture 9 - Extracting by Index Position

In [43]:
letters = list(ascii_lowercase)
len(letters)

26

In [44]:
alphabet = pd.Series(letters)
alphabet.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [45]:
alphabet[0]

'a'

In [46]:
alphabet[10]

'k'

In [47]:
alphabet[:3]

0    a
1    b
2    c
dtype: object

In [48]:
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object